<h2>
  Page d'accueil
</h2>
<p>
  Plusieurs mini tutos angular citer ci-dessous et accessible via la navbar.
</p>
<ul>
  <li><a routerLink="/heroes">Tutoriel Angular sur les héros (Général)</a></li>
  <li><a routerLink="/liste" fragment="tableau">Récupération des données json stockées directement dans un return d'une fonction</a></li>
  <li><a routerLink="/heroes">Tutoriel Angular sur les héros (Général)</a></li>
  <li><a routerLink="/heroes">Tutoriel Angular sur les héros (Général)</a></li>
  <li><a routerLink="/heroes">Tutoriel Angular sur les héros (Général)</a></li>
  <li><a routerLink= "/heroes" fragment="tableau">Jump to 'Test' anchor </a> </li>
</ul>
